<footer class="footer">
  <small>
    kebaboooon</a>
    by shinya kanamaru</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path   %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>
