<footer class="footer">
  <small>
    kebaboooon</a>
    by shinya kanamaru</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "kebaboooonとは",   about_path   %></li>
      <li><span class="fa fa-twitter"></span><a href="https://twitter.com/EL93019205_2">Twitter</a></li>
    </ul>
  </nav>
</footer>
